*.go
*.info
*.log
*.tar.gz
*~
tmp
/pre-inst-env
/pre-inst-env.el
.dirstamp
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
config.status
configure
install-sh
m4
mdate-sh
missing
texinfo.tex
/doc/stamp-vti
/doc/version.texi
/examples/*.scm
