*.go
*.la
*.lo
*.log
*.o
*.so
*.tar.gz
*.x
*~
tmp
/build-aux
/pre-inst-env
.deps
.dirstamp
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
m4
mdate-sh
missing
stamp-h?
/modules/xosd/config.scm
